/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 10px;
  width: 250px;

}
.cardGallery{
  display: flex;
}

.cardGallery > img{
  flex: 1;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
